[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
asgiref = "*"
async-timeout = "*"
attrs = "*"
autobahn = "*"
automat = "*"
bleach = "*"
certifi = "*"
cffi = "*"
channels = "*"
channels-redis = "*"
chardet = "*"
constantly = "*"
cryptography = "*"
daphne = "*"
django = "*"
django-bootstrap-static = "*"
django-cropperjs = "*"
hiredis = "*"
hyperlink = "*"
idna = "*"
importlib-metadata = "*"
incremental = "*"
msgpack = "*"
numpy = "*"
opencv-python = "*"
optional-django = "*"
pillow = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyhamcrest = "*"
pyparsing = "*"
redis = "*"
requests = "*"
service-identity = "*"
six = "*"
sqlparse = "*"
twisted = "*"
txaio = "*"
urllib3 = "*"
webencodings = "*"
zipp = "*"
"zope.interface" = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
